/minichat/build/
/ChatSocket_ClienteServidor/build/
/ChatSocket_ClienteServidor/nbproject/private/
/3.1-Sockets_Swing/socket_jframe/nbproject/private/
/3.1-Sockets_Swing/socket_jframe/build/
/GerarEmail/build/
/GerarEmail/nbproject/private/
